RAYLIBPATH=$(readlink -f raylib)
EMSDKPATH=$(readlink -f emsdk)

export PATH="${PATH}:${EMSDKPATH}/upstream/emscripten:${EMSDKPATH}/node/16.20.0_64bit/bin"
export C_INCLUDE_PATH="${RAYLIBPATH}/src:${C_INCLUDE_PATH}"
export LIBRARY_PATH="${RAYLIBPATH}/src:${RAYLIBPATH}/src/external:${LIBRARY_PATH}"
export LD_LIBRARY_PATH="${RAYLIBPATH}/src:${LD_LIBRARY_PATH}"
